In [ ]:
year=2023
print(year)

In [5]:
Int=2023
Float=20.23
Bool=True
print(type(Int))
print(type(Float))
print(type(Bool))
print(id(Int))
print(id(Float))
print(id(Bool))

<class 'int'>
<class 'float'>
<class 'bool'>
4368190736
4364798448
4321208888

In [6]:
number1=12
number2=23
number3=number1+number2
print(number1+number2)
print(number3)

35
35

In [7]:
number1=12
number2=23
number=number2
print(id(number1))
print(id(number2))
print(id(number3))

4321210248
4321210600
4321210984